<% content_for :title, "LarkLims - Dashboard" %>
<div class="contenthead-spaceonly">
    <!--<span>Dashboard</span>-->
</div>
<div class="browser-content clearfix">
    <div class="browser-subnav clearfix">
        <%= link_to "New Order", new_order_path, :class => "button primary right" %>
        <div class="browser-links left">
            <a class="browser-subnav-item selected">Orders</a>
            <a class="browser-subnav-item">Products</a>
            <a class="browser-subnav-item">Labels</a>
            <a class="browser-subnav-item">Users</a>
        </div>
    </div>

    <div class="order-list-header">

    </div>
    <ul class="order-list">
        <li class="order-list-item">

        </li>
    </ul>
</div>