<% content_for :title, "LarkLims - Dashboard" %>
<div class="content clearfix">

    <div class="contenthead-spaceonly clearfix">
    <!--<span>Dashboard</span>-->
    </div>
    <div class="dashboard-content clearfix">
        <div class="columns clearfix">
            <div class="column one-fourth">
                <h1>
                    <span class="user-fullname">Balint Domokos</span>
                    <span class="username">bdomokos</span>
                </h1>
            </div>
            <div class="column three-fourths">

                <div class="activity-list-header">
                    <div class="activity-list-header-item">
                        <i class="fa fa-inbox"></i>
                        <span>Recent activity</span>
                    </div>
                </div>
                <div class="activities">

                    <div class="activity">
                        <div class="body">
                            <i class="fa fa-check fa-2x activity-icon"></i>
                            <div class="activity-time">
                                <span>1 hours ago</span>
                            </div>
                            <div class="activity-title">
                                <span>order</span>
                                <a>abc</a>
                                <span>arrived</span>
                            </div>
                            <div class="activity-details">
                                <span>Order delivered</span>
                            </div>
                        </div>
                    </div>

                    <div class="activity">
                        <div class="body">
                            <i class="fa fa-plus fa-2x activity-icon"></i>
                            <div class="activity-time">
                                <span>21 hours ago</span>
                            </div>
                            <div class="activity-title">
                                <a>bdomokos</a>
                                <span>added order</span>
                                <a>abc</a>
                            </div>
                            <div class="activity-details">
                                <span>Order placed</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
    </div>
</div>
