<% content_for :title, "LarkLims - Dashboard" %>
<div class="content clearfix">

    <div class="contenthead-spaceonly clearfix">
    </div>
    <div class="dashboard-content clearfix">
        <div class="columns clearfix">
            <div class="column one-fourth">
                <h1>
                    <span class="user-fullname"><%= @user.name %></span>
                    <span class="username"><%= @user.email %></span>
                </h1>
            </div>
            <div class="column three-fourths">

                <div class="activity-list-header">
                    <div class="activity-list-header-item">
                        <i class="fa fa-inbox"></i>
                        <span>Recent activity</span>
                    </div>
                </div>
                <div id="activity-list" class="activities">
                    <!--place for activity records, loaded dynamically-->
                </div>
            </div>
        </div>

    </div>

    <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
    </div>

    <input id="before_date" type="hidden">
    <input id="before_order_id" type="hidden">
    <!-- this template gets copied and filled for each action by the ajax function load_activities (activities.js.coffee) -->
    <div id="activity_template" class="hidden">
        <div class="activity">
            <div class="body">
                <i class="fa fa-2x activity-icon"></i>
                <div class="activity-time">
                    <span>

                    </span>
                </div>
                <div class="activity-title">
                </div>
                <div class="activity-details">
                    <span>

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    dashboard_loaded()
</script>
