@import "config";

// BROWSER

.button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.button.primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  text-decoration: none;
}
.button.primary:hover {
  background-image: none;
}
.browser-subnav-item+.browser-subnav-item {
  margin-left: -1px;
}
.browser-subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.browser-subnav-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.browser-subnav-item {
  position: relative;
  float: left;
  padding: 7px 14px;
  font-weight: bold;
  color: #666;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.browser-subnav-item.selected {
  z-index: 2;
  color: #fff;
  background-color: #4183c4;
  border-color: #4183c4;
}
.browser-subnav-item.selected:hover {

  color: #fff;
  background-color: #4183c4;
}
.browser-subnav-item:hover {
  color: #666;
  background-color: #f5f5f5;
}

.browser-list-header {
  position: relative;
  z-index: 22;
  margin-top: 20px;
  margin-bottom: -1px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
}



.browser-list-header-toggle .button-link.selected, .browser-list-header-toggle .button-link:hover {
  color: #222;
}

.browser-list-header-toggle.states .selected {
  font-weight: bold;
}

.browser-list-header-toggle .button-link {
  color: #777;
}

.browser-list-header .button-link {
  position: relative;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-link {
  display: inline;
  padding: 0;
  font-size: inherit;
  color: $hover_color;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}


.button-link:hover {
  background-color: transparent;

}


.select-menu {
  position: relative;
}
.select-menu-button:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.browser-list-header-toggle .select-menu-button {
  padding-right: 15px;
  padding-left: 15px;
}

.browser-list-header-toggle .button-link {
  color: #777;
}

.browser-list-header-select-all {
  float: left;
  width: 30px;
  padding: 12px 10px 12px 1px;
//  margin-right: 5px;
  //  margin-left: -1px;
  text-align: center;
}
// browser table contents

.browser-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
}
.browser-list  {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.browser-list-item {
  position: relative;
  list-style: none;
  display: table-row;
}

.browser-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #eee;
}


.browser-meta a {
  color: #999;
  background-color: transparent;
  text-decoration: none;
}
.browser-meta a:hover {
  background-color: transparent;
  color: $hover_color;
  text-decoration: none;
}


a.browser-list-cell-title-link:hover {
  background-color: transparent;
  color: $hover_color !important;
  text-decoration: none;
}

a.browser-list-cell-title-link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2px;
  padding-right: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #333 !important;
  line-height: 1.2;
  word-break: break-word;
}
span.browser-list-cell-title-link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2px;
  padding-right: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #333 !important;
  line-height: 1.2;
  word-break: break-word;
}
.browser-list-cell-checkbox {
  width: 30px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.browser-list-cell:first-child {
  border-left: 1px solid #e5e5e5;
}
.browser-list-cell:last-child {
  border-right: 1px solid #e5e5e5;
}


//

.error-box h3{
  color: red;
}

.error-box a {
  color: #999;
  background-color: transparent;
  text-decoration: none;
}
.error-box a:hover {
  background-color: transparent;
  color: $hover_color;
  text-decoration: none;
}

// paging for orders

#paging-row a {
  text-decoration: none;
  font-weight: bold;
}

#paging-row a:hover {
  background-color: transparent;
  color: $hover_color !important;
  text-decoration: none;
}