$hover_color: #4183c4;
$default_font_color: #333333;
$header_bg_color: whitesmoke;
$header_border_color: #e5e5e5;

$colorHighlight: #1BA0E1;
$colorDoubleHighlight: #1378A8;
$colorTextOnHighlight: #FFFFFF;
$colorTextOnHighlightHover: #FFFFFF;

