// DASHBOARD

@import "config";

.user-fullname {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis;
}
.username {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
}
.content {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.one-fourth {
  width: 25%;
}
.three-fourths {
  width: 75%;
}
.dashboard-content {
  min-height: 345px;
}

.activity-list-header {
  margin: 0 0 15px;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.activity-list-header-item {
  display: inline-block;
  padding: 8px 12px 7px;
  font-size: 14px;
  line-height: 20px;
}

.activities {
  float: none;
  width: auto;
}

.activities .activity:first-child {
  border-top: 0;
}
.activities .activity {
  position: relative;
  padding: 0 0 1em 45px;
  overflow: hidden;
  border-top: 1px solid #f1f1f1;
}

.body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333333;
}

.activity-icon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  color: #bbb;
}

.activity-time {
  font-size: 12px;
  color: #bbb;
}

.activity-title {
  font-weight: bold;
  font-size: 14px;
}
.activity-title a {
  color: #4183c4;
  text-decoration: none;
  cursor: pointer;
}
.activity-title a:visited {
  color: #4183c4;
}
.activity-title a:hover {
  color: #4183c4;
  text-decoration: underline;
  background-color: #fff;
}

.activity-details {
  color: #666;
}
