div.lab {
  border: 1px;
}
 .q0  {color:rgb(166,206,227)}
 .q1  {color:rgb(31,120,180)}
 .q2  {color:rgb(178,223,138)}
 .q3  {color:rgb(51,160,44)}
 .q4  {color:rgb(251,154,153)}
 .q5  {color:rgb(227,26,28)}
 .q6  {color:rgb(253,191,111)}
 .q7  {color:rgb(255,127,0)}
 .q8  {color:rgb(202,178,214)}
 .q9  {color:rgb(106,61,154)}
 .q10 {color:#207de5}
 .q11 {color:rgb(177,89,40)}

.qb0  {background-color:rgb(166,206,227)}
.qb1  {background-color:rgb(31,120,180)}
.qb2  {background-color:rgb(178,223,138)}
.qb3  {background-color:rgb(51,160,44)}
.qb4  {background-color:rgb(251,154,153)}
.qb5  {background-color:rgb(227,26,28)}
.qb6  {background-color:rgb(253,191,111)}
.qb7  {background-color:rgb(255,127,0)}
.qb8  {background-color:rgb(202,178,214)}
.qb9  {background-color:rgb(106,61,154)}
.qb10 {background-color:#207de5}
.qb11 {background-color:rgb(177,89,40)}

.product-label {
  display: inline-block;
  padding: 3px 4px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #fff;
}