@import "config";
// Sign In page

#signin-section {
  text-shadow: 0px 1px 3px #222;
  background: url('') repeat scroll center center #202021;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.heading {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 68px;
  font-weight: normal;
  line-height: 1;
  color: #FFF;
  letter-spacing: -1px;
}

.subheading {
  margin: 10px 0px 0px;
  font-size: 21px;
  line-height: 1.5;
  color: #FFF;
}

#form-signin {
  float: right;
  width: 320px;
  margin-left: 40px;
  padding-top: 50px;
}
#form-signin> a{
  color: #4183c4;
  text-decoration: none;
  background-color: #202021;
}

dl.form-si {
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px;
}

dl.form-si {
  margin: 15px 0;
  box-sizing: border-box;
}
dl.form-si dd {
  margin-left: 0px;
  box-sizing: border-box;
}

dl.form-si dd.field input{

  width: 100%;
  margin-right: 0px;
  border-color: #FFF;

  padding: 10px;
  font-size: 16px;
  border-radius: 5px;

  max-width: 100%;
  background-position-x: 98%;

  background-color: #fafafa;

  min-height: 24px;
  padding: 7px 0 8px 0;

  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: medium none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

dl.form-si dd a.button {
  border: 1px none !important;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

dl.form-si dd a.button-block {
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

// Welcome section

.welcome-section {
  padding-top: 80px;
}
.welcome-section h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: 300;

}

p.welcome-sub {
  color: #777 !important;
  margin: 20px auto 0;

  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}