// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: block;
  min-width: 1020px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
  color: $default_font_color;
  background-color: #fff;
}

.clearfix::before {
  display: table;
  content: "";
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.right {
  float: right;
}
.left {
  float: left;
}

.contenthead {
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.contenthead span {
  color: $hover_color;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.contenthead-spaceonly {
  position: relative;
  margin-bottom: 20px;

  padding-bottom: 20px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}
@import "loginpage";
@import "_siteheader";
@import "dashboard";
@import "browser";
@import "neworder";
@import "showorder";
@import "label_colors";
//@import "select_menu";